<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Freie Journalistin Angelika Hirschberg</title>
	<meta name="description" content="Angelika Hirschberg ist eine freie Journalistin." />
	<meta name="keywords" content="journalism, journalismus, author, autorin" />
	<meta name="audience" content="All" />
	<meta name="author" content="Angelika Hirschberg" />
	<meta name="publisher" content="worlddevelopment" />
	<meta name="Robots" content="index,follow" />
	<meta name="revisit-after" content="1 Day" />
	<meta name="Language" content="German" />
	<meta name="Content-Language" content="de" />
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" id="open-sans-css" href="./css/css.css" type="text/css" media="screen">
	<link rel="stylesheet" id="screen-css" href="./css/style.css" type="text/css" media="screen">
	<style>
	.color
	, h1 > span
	, h2 > span
	, .description-text a
	, .description-text a:hover {
		color: royalblue !important;
	}
	.circle-menu
	, .nav-tabs li a
	, #portfolio a.link-portfolio
	, input[type="submit"] {
		background:#2C678F;
	}
	</style>
</head>
<body class="home blog">
	<!-- ###DOCUMENT### -->


<!-- js controlled topmost bar -->
<header style="display: none;">
	<nav class="navbar navbar-inverse navbar-fixed-top" style="opacity: .99; filter: alpha(opacity=99);">
		<div class="navbar-inner">
			<div class="container wrapper">

				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<div id="mini-logo">
					<a href="#page-1" id="mini-link">
						<img src="./images/logo-mini.png" alt="" />
					</a>
								<a href="?" style="color: white;"><span id="mini-logo-text">Angelika Hirschberg</span></a>
				</div>

				<div class="nav-collapse collapse">
					<ul class="nav top-nav" id="nav-menu">

						<li id="menu-item-home" class="home-link menu-item active">
							<a href="#page-1">&#x21E1; top</a>
						</li>

						<li id="menu-item-contact" class="menu-item ">
							<a href="#page-444">contact</a>
						</li>

					</ul>
					<!--<?php
					//include("DynamicMenu.class.php");
					?>-->
				</div>
			</div>
		</div>
	</nav>

</header>



<!-- TODO Rename to first-section for consistency as no longer more pages are shown / loaded via AJAX for simplicity, compatibility. -->
<section id="page-1">
	<div class="container wrapper">
		<f:render section="first_section"/>
	</div>

<!-- for multipaging -->
<nav class="" style="z-index: 1000000;">
	<div class="container wrapper">
		<div id="main-nav" class="navbar-collapse ">
		<ul>
			<f:cObject typoscriptObjectPath="lib.menu" />
		</ul>
			<!-- ###METANAV### -->
		<!--<?php
		include("../lib.debug.php");
		include("dynamicmenu.config.php");
		include("DynamicMenu.class.php");
		?>-->
			<!-- ###METANAV### End -->
		</div>

	</div>
</nav>

</section>



<!--
HERE INBETWEEN IS WHERE AJAX LOADED DYNAMIC CONTENT CAN BE ADDED:
-->
<f:if condition="{content}">
	<f:then>
<section class="page_content">
	<div class="container wrapper">
				<div class="content">
					<f:render section="content"/>
				</div>
	</div>
</section>
	</f:then>
</f:if>


<f:if condition="{content_right}">
	<f:then>
<section class="page_content_right">
	<div class="container wrapper">
				<div class="content_right">
					<f:render section="content_right"/>
				</div>
	</div>
</section>
	</f:then>
</f:if>


<f:if condition="{content_left}">
	<f:then>
<section class="page_content_left">
	<div class="container wrapper">
				<div class="content_left">
					<f:render section="content_left"/>
				</div>
	</div>
</section>
	</f:then>
</f:if>



<!-- fixed position elements: -->
<f:render section="fixed_position_elements"/>









<!-- fixed position elements: -->
<f:render section="fixed_position_elements"/>






<section class="last-section" id="page-444">
	<div class="container wrapper">
		<h2 class="section-title">Contact</h2>
		<div>
			<h3>
				Angelika Hirschberg
			</h3>
			<ul>
				<li><span class="icon-signal contact-icon"></span> <span class="color">phone:</span> +49-</li>
				<li><span class="icon-signal contact-icon"></span> <span class="color">fax:</span> +49-</li>
				<li><span class="icon-envelope contact-icon"></span> <span class="color">e-mail:</span> <a class="email-link" href="mailto:hirschbergs@gmx.de">hirschbergs at gmx.de</a></li>
			</ul>
			<ul class="unstyled social">
				<li>
					<a href="https://www.opensourceecology.de/">
						<span class="sprite-social fb-icon"></span>
					</a>
				</li>
				<li>
					<a href="https://twitter.com/">
						<span class="sprite-social tw-icon"></span>
					</a>
				</li>
				<li>
					<a href="">
						<span class="sprite-social gp-icon"></span>
					</a>
				</li>
			</ul>
		</div>
		<!-- TODO Render form plugin content. -->
		<!-- ###CONTACTFORM### -->
		<!--
		<div>
			<h3>
				Send a message:
			</h3>
			<form action="" method="post" class="form" novalidate="novalidate">
				<p>
					<input name="name" size="40" class="" aria-required="true" placeholder="your name" type="text"/>
					<input name="email" size="40" class="" aria-required="true" placeholder="your email" type="email"/>
					<textarea name="message" cols="40" rows="10" class="" placeholder="your message"></textarea>
				</p>
				<p>
					<input value="send" class="" type="submit">
					<img style="visibility: hidden;" alt="sending ..." src="./images/ajax-loader.gif" class="ajax-loader"/>
				</p>
				<div class="fresponse-output"></div>
			</form>
		</div>
		-->
		<!-- ###CONTACTFORM### End -->
	</div>
</section>



<footer>
	<div class="container wrapper">
<!--
		<img src="images/unilogo.png" alt="" />

		<img src="images/i8_logo.png" alt="" />
		<a href="">DFG F&ouml;rdergemeinschaft</a> - <a href="http://uni-wuerzburg.de/">Universit&auml;t W&uuml;rzburg</a>
-->
		<p>
		Rechte aller verwendeten Medien obliegen den Urhebern, insofern nicht anderweitig gekennzeichnet.
		F&uuml;r Inhalte externer Links kann keine Verantwortung &uuml;bernommen werden.
		</p>
	</div>

</footer>

	<!-- ###DOCUMENT### End -->
</body></html>
