<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Angelika Hirschberg ist eine freie Journalistin." />
<meta name="keywords" content="Angelika Hirschberg, Textbüro, Berichterstattung, PR-Texte, Reportagen, Interviews, Pressefotografie, journalism, journalismus, author, autorin, Autor, Journalist" />
<meta name="audience" content="All" />
<meta name="author" content="Angelika Hirschberg" />
<meta name="publisher" content="Angelika Hirschberg" />
<meta name="Robots" content="index,follow" />
<meta name="revisit-after" content="1 Day" />
<meta name="Language" content="German" />
<meta name="Content-Language" content="de" />
<link rel="shortcut icon" href="images/favicon.ico" />
<link rel="stylesheet" href="./css/css.css" type="text/css" media="screen">
<link rel="stylesheet" href="./css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="../../fairyclasses.css" type="text/css" media="screen">
<style>
.color
, h1 > span
, h2 > span
, .description-text a
, .description-text a:hover {
	color: royalblue !important;
}
.circle-menu
, .nav-tabs li a
, #portfolio a.link-portfolio
, input[type="submit"] {
	background:#2C678F;
}
</style>
<title>Angelika Hirschberg | Freie Journalistin</title>
</head>
<body class="home blog">
<!-- ###DOCUMENT### -->


<!-- js controlled topmost bar -->
<header>
<nav class="navbar navbar-inverse navbar-fixed-top" style="opacity: .99; filter: alpha(opacity=99);">
	<div class="navbar-inner">
		<div class="container wrapper">

			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<div id="mini-logo">
				<a href="?" style="color: white;"><span id="mini-logo-text">Angelika Hirschberg</span></a>
			</div>

			<div class="nav-collapse collapse">
			<!--
				<ul class="nav top-nav" id="nav-menu">

					<li id="menu-item-home" class="home-link menu-item active">
						<a href="#page-1">&#x21E1; top</a>
					</li>

					<li id="menu-item-contact" class="menu-item ">
						<a href="#page-444">contact</a>
					</li>

				</ul>
			-->
				<!--<?php
				//include("DynamicMenu.class.php");
				?>-->
			</div>
		</div>
	</div>
</nav>

</header>


<!-- per page nav -->
<div id="manual_menu">
	<a href="#page-1" id="mini-link">
		<img src="fileadmin/template/images/logo-mini.png" alt="" />
	</a>
<ul>
	<li><a href="#">Home</a></li>
	<li><a href="#kontakt">Kontakt</a></li>
	<!--
	<li><a href="#uber_mich">&Uuml;ber mich</a></li>
	-->
	<li><a href="#netzwerk">Netzwerk</a></li>
	<li><a href="#impressum">Impressum</a></li>
</ul>
</div>


<!-- TODO Rename to first-section for consistency as no longer more pages are shown / loaded via AJAX for simplicity, compatibility. -->
<section id="page-1" class="page">
<div class="container wrapper">
	<f:render section="first_section"/>
</div>

<!-- for multipaging -->
<nav class="" style="z-index: 1000000;">
<div class="container wrapper">
	<div id="main-nav" class="navbar-collapse ">
	<ul>
		<f:cObject typoscriptObjectPath="lib.menu" />
	</ul>
		<!-- ###METANAV### -->
	<!--<?php
	include("../lib.debug.php");
	include("dynamicmenu.config.php");
	include("DynamicMenu.class.php");
	?>-->
		<!-- ###METANAV### End -->
	</div>

</div>
</nav>

</section>



<!--
HERE INBETWEEN IS WHERE AJAX LOADED DYNAMIC CONTENT CAN BE ADDED:
-->
<f:if condition="{content}">
<f:then>
<section class="page page_content">
<div class="container wrapper content">
	<f:render section="content"/>
</div>
</section>
</f:then>
</f:if>


<f:if condition="{content_right}">
<f:then>
<section class="page page_content_right">
	<div id="uber_mich" class="marker"></div>
	<div id="Uber_mich" class="marker"></div>
<div class="container wrapper content_right">
	<f:render section="content_right"/>
</div>
</section>
</f:then>
</f:if>


<f:if condition="{content_left}">
<f:then>
<section class="page page_content_left">
	<div id="leistung" class="marker"></div>
	<div id="Leistung" class="marker"></div>
	<div id="service" class="marker"></div>
<div class="container wrapper content_left">
	<!--
	<p>Seite ist im Aufbau. Mehr Information folgt in K&uuml;rze.</p>
	-->
	<f:render section="content_left"/>
</div>
</section>
</f:then>
</f:if>


<f:if condition="{content_border}">
<f:then>
	<f:render section="content_border"/>
</f:then>
</f:if>


<!-- fixed position elements: -->
<f:render section="fixed_position_elements"/>



<!--
<section class="page">
	<div id="referenzen" class="marker"></div>
	<div id="Referenzen" class="marker"></div>
<div class="container wrapper">
	<h2>Referenzen</h2>
	<div id="gallery">
	<div id="fullHolder">
		<ul>
			<li>
				<input id="item1" name="gallery" type="radio"/>
				<div>
					<span>
						PDF: Krumbach Magazin [7 MB]
					</span>
					<a href="https://hirschberg-text.de/fileadmin/user_upload/Krumbach_Magazin.pdf" target="_blank">
						<img src="https://hirschberg-text.de/fileadmin/Krumbach_Magazin_A4_Titelseite.jpg" alt=""/>
					</a>
				</div>
			</li>
			<li>
				<input id="item2" name="gallery" type="radio"/>
				<div>
					<span>
						PDF: AWM_Auto-Special [6 MB]
					</span>
					<a href="../fileadmin/user_upload/AWM_Auto-Special.pdf" target="_blank">
						<img src="../fileadmin/AWM_Auto-Special.jpg" alt=""/>
					</a>
				</div>
			</li>
			<li>
				<input id="item3" name="gallery" type="radio"/>
				<div>
					<span>
						PDF: Pferde - Mythos und Geschichte eines edlen Tieres [4 MB]
					</span>
					<a href="../fileadmin/user_upload/Pferde__Mythos_und_Geschichte_eines_edlen_Tieres.pdf" target="_blank">
						<img src="../fileadmin/Pferde__Mythos_und_Geschichte_eines_edlen_Tieres.jpg" alt=""/>
					</a>
				</div>
			</li>
			<li>
				<input id="item4" name="gallery" type="radio"/>
				<div>
					<span>
						PDF: Fendt Focus Januar 2017: Kapitel Vario Getriebe [0.7 MB]
					</span>
					<a href="../fileadmin/user_upload/Fendt_Focus_2017-01_de__Chapter_Transmission_Vario.pdf" target="_blank">
						<img src="../fileadmin/Fendt_Focus_2017-01_de.jpg" alt=""/>
					</a>
				</div>
			</li>
		</ul>
	</div>
	<div id="thumbHolder">
		<ul id="momentum">
			<li>
				<label for="item1">
					<img src="https://hirschberg-text.de/fileadmin/Krumbach_Magazin_A4_Titelseite.jpg" alt=""/>
				</label>
			</li>
			<li>
				<label for="item2">
					<img src="../fileadmin/AWM_Auto-Special.jpg" alt=""/>
				</label>
			</li>
			<li>
				<label for="item3">
					<img src="../fileadmin/Pferde__Mythos_und_Geschichte_eines_edlen_Tieres.jpg" alt=""/>
					<img src="../fileadmin/Pferde__Mythos_und_Geschichte_eines_edlen_Tieres.jpg" alt=""/>
				</label>
			</li>
			<li>
				<label for="item4">
					<img src="../fileadmin/Fendt_Focus_2017-01_de.jpg" alt=""/>
				</label>
			</li>
			<li>
				<label for="item5">
					<img src="item_preview.jpg" alt=""/>
				</label>
			</li>
			<li>
				<label for="item6">
					<img src="item_preview.jpg" alt=""/>
				</label>
			</li>
			<li>
				<label for="item7">
					<img src="item_preview.jpg" alt=""/>
				</label>
			</li>
		</ul>
	</div>
	</div>
-->
	<!--
	<h2 class="section-title">Contact</h2>
		<div>
			<h3>
				Angelika Hirschberg
			</h3>
			<ul>
				<li><span class="icon-signal contact-icon"></span> <span class="color">phone:</span> +49-</li>
				<li><span class="icon-signal contact-icon"></span> <span class="color">fax:</span> +49-</li>
				<li><span class="icon-envelope contact-icon"></span> <span class="color">e-mail:</span> <a class="email-link" href="mailto:hirschbergs@gmx.de">hirschbergs at gmx.de</a></li>
			</ul>
			<ul class="unstyled social">
				<li>
					<a href="https://www.opensourceecology.de/">
						<span class="sprite-social fb-icon"></span>
					</a>
				</li>
				<li>
					<a href="https://twitter.com/">
						<span class="sprite-social tw-icon"></span>
					</a>
				</li>
				<li>
					<a href="">
						<span class="sprite-social gp-icon"></span>
					</a>
				</li>
			</ul>
		</div>
		-->
		<!-- TODO Render form plugin content. -->
		<!-- ###CONTACTFORM### -->
		<!--
		<div>
			<h3>
				Send a message:
			</h3>
			<form action="" method="post" class="form" novalidate="novalidate">
				<p>
					<input name="name" size="40" class="" aria-required="true" placeholder="your name" type="text"/>
					<input name="email" size="40" class="" aria-required="true" placeholder="your email" type="email"/>
					<textarea name="message" cols="40" rows="10" class="" placeholder="your message"></textarea>
				</p>
				<p>
					<input value="send" class="" type="submit">
					<img style="visibility: hidden;" alt="sending ..." src="./images/ajax-loader.gif" class="ajax-loader"/>
				</p>
				<div class="fresponse-output"></div>
			</form>
		</div>
		-->
		<!-- ###CONTACTFORM### End -->
	<!--
	</div>
</section>
-->

<section class="page last-section" id="page-444">
	<div>&nbsp;
	</div>
	<div>&nbsp;
	</div>
	<div>&nbsp;
	</div>
	<div>&nbsp;
	</div>
	<div id="impressum" class="marker"></div>
	<div class="container wrapper">
	<div>
		<h2>Impressum</h2>
		<div>
		<p>
		Verantwortlich für diese Website gemäß §5 TMG
		</p>
		<p>
		Angelika Hirschberg - <a href="https://hirschberg-text.de">www.hirschberg-text.de</a><br/>
		Geltnachweg 20, 87675 Stötten am Auerberg<br/>
		Telefon +49(0)8349-9208737
		</p>
		<p>
		<a href="mailto:info@hirschberg-text.de">info@hirschberg-text.de</a>
		</p>
		<p>Kleinunternehmen nach §19 Abs. 1 UStG</p>
		<p>Steuernummer 125/229/11109 FA Kaufbeuren</p>
		</div>

		<h2>Technische Umsetzung</h2>
		<div>
		worlddevelopment club - <a href="https://github.com/worlddevelopment/worlddevelopment">www.ciry.at</a>
		</div>

		<h2>Bildnachweis</h2>
		<div>
			<ul>
				<li>
					Hintergrundbild: <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>+ - J.R.I. Fr&uuml;hholz, <a href="http://openeco.club">Weltentwicklungsverein</a>
				</li>
				<li>
				Porträtfoto: Erika Spengler, <a href="https://www.ulligunde.com">www.ulligunde.com</a>
				</li>
			</ul>
		</div>

		<h2>Haftungsausschluss
		</h2>
		<div>
		<p><em>Inhalte:</em>
		Als Diensteanbieter bin ich gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten verantwortlich. Nach §§ 8 bis 10 TMG besteht jedoch keine Verpflichtung, übermittelte oder gespeicherte fremde Informationen zu überwachen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich.
		</p>

		<p><em>Links:</em>
		Auf externe Inhalte besteht kein Einfluss. Der jeweilige Anbieter oder Betreiber ist verantwortlich. Zum Zeitpunkt der Verlinkung wurde auf mögliche Rechtsverstöße geprüft. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden solcher werden derartige Links umgehend entfernt.
		</p>

		<p><em>Urheberrecht:</em>
		Jegliche Rechte aller verwendeten Medien obliegen den Urhebern, insofern nicht anderweitig gekennzeichnet.
		Um entsprechenden Hinweis bei Verletzungen gegen dieses Recht ist gebeten.
		<br />
		<br />
		Das Copyright für veröffentlichte, von der Betreiberin selbst erstellte Texte und Werke bleibt allein bei der Betreiberin der Seiten. Eine Vervielfältigung oder Verwendung von Texten, Fotos, Grafiken, Audio- oder  Videosequenzen in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung der Betreiberin nicht gestattet.
</p>
		</div>


		<h2>Datenschutzerklärung
		</h2>
		<div>
		Personenbezogene Daten werden vertraulich entsprechend der gesetzlichen Datenschutzvorschriften behandelt. Die Nutzung des Webauftritts ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten solche Daten (beispielsweise Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis.
</p>
<p>
		IP-Adressen sowie vom Browser übermittelte Daten (beispielsweise Browsertyp/-version, Betriebssystem) werden zur Verfolgung von Vergehen gespeichert. Es erfolgt keine Weitergabe an Dritte.
		Weitere Daten werden nicht erhoben. Weder Cookies noch externe Dienste wie Google Fonts, Analytics oder Piwik werden verwendet. Gemäß §16 TMG

</p>

		</div>

	</div>
	</div>
</section>



<footer>
	<div class="container wrapper">
<!--
		<img src="images/unilogo.png" alt="" />

		<img src="images/i8_logo.png" alt="" />
		<a href="">DFG F&ouml;rdergemeinschaft</a> - <a href="http://uni-wuerzburg.de/">Universit&auml;t W&uuml;rzburg</a>
		<p>
		Rechte aller verwendeten Medien obliegen den Urhebern, insofern nicht anderweitig gekennzeichnet.
		F&uuml;r Inhalte externer Links kann keine Verantwortung &uuml;bernommen werden.
		Code, design courtesy of <a href="http://github.com/worlddevelopment">worlddevelopment</a>, parts of background composite image credit <a href="http://indiesquid.com">indiesquid</a>.
		</p>

-->
	</div>

</footer>

	<!-- ###DOCUMENT### End -->
</body></html>
